/*
 * icon_only_button.qss - Qt Style Sheet
 * Created: 8/25/2026
 *
 * QSS Toolkit Quick Tips:
 * - Press Ctrl+Space (Cmd+Space) for intelligent auto-completion
 * - Use Ctrl+/ (Cmd+/) to comment/uncomment code blocks
 * - Use the QSS Colors panel and editor context menu to save or insert colors
 */

/* Add your QSS styles here */

QToolButton{
    min-width: 4px;
}

QToolButton:checked {
    background-color: #C1BFC5;
}
